@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.loading {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  background: white;
  -webkit-animation: loading 2500ms;
          animation: loading 2500ms;
}

.loading__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.loading__spinner__text {
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 10px;
  background: linear-gradient(-3deg, #9356DC 0%, #FF79DA 85%);
  font-size: 200%;
  font-weight: 600;
  color: white;
  -webkit-animation: loading-text 2500ms;
          animation: loading-text 2500ms;
}

.loading__spinner__bar {
  opacity: 0;
  margin: 5px 0;
  -webkit-animation: loading-bar 2500ms;
          animation: loading-bar 2500ms;
}

.loading__spinner__bar--1 {
  padding: 10px 500px;
  background: #9356DC;
}

.loading__spinner__bar--1--reverse {
  -webkit-animation: loading-bar-reverse 2500ms;
          animation: loading-bar-reverse 2500ms;
}

.loading__spinner__bar--2 {
  padding: 10px 500px;
  background: #FF79DA;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading__spinner__bar--2--reverse {
  -webkit-animation: loading-bar-reverse 2500ms;
          animation: loading-bar-reverse 2500ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading__spinner__bar--3 {
  padding: 10px 500px;
  background: #99E2D0;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loading__spinner__bar--3--reverse {
  -webkit-animation: loading-bar-reverse 2500ms;
          animation: loading-bar-reverse 2500ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 375px;
  margin: auto;
  padding: 15px 0 10px 0;
}

.logo > img {
  width: 40%;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 0;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 2px 10px -8px black;
          box-shadow: inset 0 2px 10px -8px black;
  color: #363636;
}

.location__logo {
  position: relative;
  right: 20px;
}

.location__text {
  position: relative;
  right: 5px;
  font-size: 90%;
  font-weight: 500;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background: #f3f2f2;
  text-align-last: center;
}

.reservation__title {
  margin-bottom: 10px;
  font-size: 140%;
}

.reservation__subtitle {
  margin-bottom: 30px;
  color: #6d6d6d;
}

.reservation__button {
  -webkit-box-shadow: 0 3px 10px 0 #00000040;
          box-shadow: 0 3px 10px 0 #00000040;
  padding: 12px 18px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(-3deg, #9356DC 0%, #FF79DA 85%);
  font-size: 90%;
  color: white;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.reservation__button:hover {
  -webkit-box-shadow: 0px 3px 10px 0px #00000080;
          box-shadow: 0px 3px 10px 0px #00000080;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.functioning {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  padding: 50px 0;
}

.functioning__title {
  margin-bottom: 20px;
}

.functioning__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1024px) {
  .functioning__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.functioning__block__case {
  -webkit-box-shadow: 0 3px 10px 0 #00000040;
          box-shadow: 0 3px 10px 0 #00000040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 60px;
  margin: 10px 0;
  border-radius: 20px;
  background: #f3f2f2;
}

@media screen and (min-width: 1024px) {
  .functioning__block__case {
    width: 32%;
  }
}

.functioning__block__case--modifer {
  background: rgba(147, 86, 220, 0.1);
}

.functioning__block__case__number {
  position: relative;
  right: 10px;
  padding: 3px 7px;
  border-radius: 30px;
  background: #9356DC;
  font-size: 70%;
  color: white;
}

.functioning__block__case__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  color: #6d6d6d;
}

.functioning__block__case__logo--modifer {
  color: #9356DC;
}

.functioning__block__case__logo .fa-mobile-alt {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
}

.functioning__block__case__logo .fa-list-ul {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.functioning__block__case__logo .fa-store {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.functioning__block__case__text {
  margin-left: 10px;
  font-weight: 500;
}

#restaurants {
  background: #f3f2f2;
}

.restaurants {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  padding: 40px 0px;
  background: #f3f2f2;
}

@media screen and (min-width: 1024px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurants__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .restaurants__case {
    width: 100%;
  }
}

.restaurants__case__block {
  -webkit-box-shadow: 0 3px 10px 0 #00000040;
          box-shadow: 0 3px 10px 0 #00000040;
  height: 245px;
  margin-bottom: 15px;
  border-radius: 15px;
  background: white;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media screen and (min-width: 1024px) {
  .restaurants__case__block {
    display: inline-block;
    width: 48.8%;
    margin: 0 4px 10px 4px;
  }
}

.restaurants__case__block:hover {
  -webkit-box-shadow: 0px 3px 10px 0px #00000080;
          box-shadow: 0px 3px 10px 0px #00000080;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.restaurants__case__block__image {
  position: relative;
  height: 175px;
  overflow: hidden;
}

.restaurants__case__block__image > img {
  width: 102%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 425px) {
  .restaurants__case__block__image > img {
    -o-object-position: calc(0% + 0%) 62%;
       object-position: calc(0% + 0%) 62%;
  }
}

.restaurants__case__block__image--modifer {
  -o-object-position: calc(0% + 0%) 62%;
     object-position: calc(0% + 0%) 62%;
}

.restaurants__case__block__image--modifer-b {
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants__case__block__image__new {
  position: absolute;
  top: 12px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 10px;
  background: #99E2D0;
  font-size: 80%;
  font-weight: 500;
  color: #1b6150;
}

.restaurants__case__block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__case__block__row__text {
  margin: 15px;
}

.restaurants__case__block__row__text--modifer {
  font-weight: 800;
}

.restaurants__case__block__row__heart {
  margin: 22px 42px;
  cursor: pointer;
}

.restaurants__case__block__row__heart:hover .hollow {
  -webkit-animation: heart-reverse 300ms forwards;
          animation: heart-reverse 300ms forwards;
}

.restaurants__case__block__row__heart .hollow {
  position: absolute;
  -webkit-transform: scale(1.3, 1.4);
          transform: scale(1.3, 1.4);
}

.restaurants__case__block__row__heart .full {
  opacity: 0;
  position: absolute;
  -webkit-transform: scale(1.3, 1.4);
          transform: scale(1.3, 1.4);
  background: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.restaurants__case__block__row__heart .full:hover {
  -webkit-animation: heart 300ms forwards ease-out;
          animation: heart 300ms forwards ease-out;
}

.footer {
  background: #353535;
}

.footer__block {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  padding: 20px 0;
  color: white;
}

.footer__block__title {
  margin-bottom: 15px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
}

.footer__block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block__row__logo .fa-utensils {
  margin-right: 7px;
}

.footer__block__row__logo .fa-hands-helping {
  width: 0%;
  -webkit-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
}

.footer__block__row__text {
  margin: 0 0 5px 5px;
}

.footer__block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

@-webkit-keyframes loading {
  0% {
    visibility: visible;
    opacity: 0.95;
  }
  90% {
    opacity: 0.95;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    visibility: visible;
    opacity: 0.95;
  }
  90% {
    opacity: 0.95;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes loading-text {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-text {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes loading-bar {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes loading-bar-reverse {
  0% {
    opacity: 1;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes loading-bar-reverse {
  0% {
    opacity: 1;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes heart-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heart-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes case {
  from {
    opacity: 0;
    top: 15px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes case {
  from {
    opacity: 0;
    top: 15px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes check-box {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes check-box {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes check-box-reverse {
  from {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes check-box-reverse {
  from {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes price {
  from {
    margin: 0 8px;
  }
  to {
    margin: 0 50px 0 8px;
  }
}

@keyframes price {
  from {
    margin: 0 8px;
  }
  to {
    margin: 0 50px 0 8px;
  }
}

@-webkit-keyframes price-reverse {
  from {
    margin: 0 50px 0 8px;
  }
  to {
    margin: 0 8px;
  }
}

@keyframes price-reverse {
  from {
    margin: 0 50px 0 8px;
  }
  to {
    margin: 0 8px;
  }
}
/*# sourceMappingURL=style_accueil.css.map */