@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 768px;
  margin: auto;
  padding: 15px 0 10px 0;
}

.logo > img {
  width: 40%;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  background: #f3f2f2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align-last: center;
}

.reservation__title {
  margin-bottom: 10px;
  font-size: 140%;
}

.reservation__subtitle {
  margin-bottom: 30px;
  color: #6d6d6d;
}

.reservation__button {
  -webkit-box-shadow: 0 3px 10px 0 #00000041;
          box-shadow: 0 3px 10px 0 #00000041;
  padding: 12px 18px;
  background: linear-gradient(-3deg, #9356DC 0%, #FF79DA 85%);
  border: none;
  border-radius: 30px;
  font-size: 90%;
  color: white;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.reservation__button:hover {
  -webkit-box-shadow: 0px 3px 10px 0px #00000071;
          box-shadow: 0px 3px 10px 0px #00000071;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurants {
  padding: 40px 0px;
  background: #f3f2f2;
}

.restaurants__title {
  width: 90%;
  max-width: 768px;
  margin: auto;
  margin-bottom: 20px;
}

.restaurants__case {
  width: 90%;
  max-width: 768px;
  margin: auto;
  -webkit-box-shadow: 0 3px 10px 0 #00000041;
          box-shadow: 0 3px 10px 0 #00000041;
  height: 245px;
  margin-bottom: 15px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.restaurants__case__image {
  position: relative;
  height: 175px;
  overflow: hidden;
}

.restaurants__case__image > img {
  width: 102%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__case__image--modifer-1 {
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants__case__image--modifer-2 {
  -o-object-position: calc(0% + 0%) 62%;
     object-position: calc(0% + 0%) 62%;
}

.restaurants__case__image--modifer-3 {
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants__case__image--modifer-4 {
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants__case__image__new {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 5px 10px;
  background: #99E2D0;
  color: #1b6150;
  font-size: 80%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants__case__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__case__block__text {
  margin: 15px;
}

.restaurants__case__block__text--modifer {
  font-weight: 800;
}

.restaurants__case__block__heart {
  margin: 22px 22px;
  cursor: pointer;
}

.restaurants__case__block__heart .hollow {
  position: absolute;
  opacity: 100%;
  -webkit-transform: scale(1.3, 1.4);
          transform: scale(1.3, 1.4);
}

.restaurants__case__block__heart .hollow:hover {
  opacity: 0%;
}

.restaurants__case__block__heart .full {
  opacity: 0%;
  -webkit-transform: scale(1.3, 1.4);
          transform: scale(1.3, 1.4);
}

.restaurants__case__block__heart .full:hover {
  opacity: 100%;
}

.footer {
  background: #353535;
}

.footer__block {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 20px 0;
  color: white;
}

.footer__block__title {
  margin-bottom: 15px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
}

.footer__block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block__row__logo .fa-utensils {
  margin-right: 7px;
}

.footer__block__row__logo .fa-hands-helping {
  width: 0%;
  -webkit-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
}

.footer__block__row__text {
  margin-bottom: 5px;
  margin-left: 5px;
}

.footer__block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 0px;
  color: #363636;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 2px 10px -8px black;
          box-shadow: inset 0 2px 10px -8px black;
}

.location__logo {
  position: relative;
  right: 20px;
}

.location__text {
  font-size: 90%;
  font-weight: 500;
  position: relative;
  right: 5px;
}

.functioning {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 50px 0;
}

.functioning__title {
  margin-bottom: 20px;
}

.functioning__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.functioning__block__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 10px 0 #00000041;
          box-shadow: 0 3px 10px 0 #00000041;
  width: 95%;
  height: 60px;
  margin: 10px 0;
  border-radius: 20px;
  background: #f3f2f2;
}

.functioning__block__case__number {
  padding: 3px 7px;
  position: relative;
  right: 10px;
  border-radius: 30px;
  background: #9356DC;
  color: white;
  font-size: 70%;
}

.functioning__block__case__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  color: #6d6d6d;
}

.functioning__block__case__logo .fa-mobile-alt {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
}

.functioning__block__case__logo .fa-list-ul {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.functioning__block__case__logo .fa-store {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.functioning__block__case__logo--modifer {
  color: #9356DC;
}

.functioning__block__case__text {
  margin-left: 10px;
  font-weight: 500;
}

.functioning__block__case--modifer {
  background: #9256dc18;
}
/*# sourceMappingURL=main.css.map */