.functioning {
    @include width-center;
    padding: 50px 0;
        &__title {
            margin-bottom: 20px;
        }
        &__block {
            @include column;
            align-items: flex-end;
                &__case {
                    @include center-items;
                    @include box-shadow;
                    width: 95%; height: 60px;
                    margin: 10px 0;
                    border-radius: 20px;
                    background: $color-bg-grey;
                        &__number {
                            padding: 3px 7px;
                            position: relative;
                            right: 10px;
                            border-radius: 30px;
                            background: $color-primary;
                            color: white;
                            font-size: 70%;
                        }
                        &__logo {
                            @include center-row;
                            width: 10%;
                            color: $color-police-grey;
                                .fa-mobile-alt {
                                    transform: scale(1.2,1);
                                }
                                .fa-list-ul {
                                    transform: scale(0.8,1);
                                }
                                .fa-store {
                                    transform: scale(0.8,1);
                                }
                            &--modifer {
                                    color: $color-primary;
                            }
                        }
                        &__text {
                            margin-left: 10px;
                            font-weight: 500;
                        }
                    &--modifer {
                        background: #9256dc18;
                    }
                }
        }
}