.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background: $color-background;
    text-align-last: center;    
    &__title {
        margin-bottom: 10px;
        font-size: 140%;
    }
    &__subtitle {
        margin-bottom: 30px;
        color: $color-quaternary;
    }
    &__button {
        @include box-shadow;
        padding: 12px 18px;
        border: none; border-radius: 30px;
        background: $gradient;
        font-size: 90%;
        color: white;
        cursor: pointer;
        transition: all $animation-time;
        &:hover {
            @include hover;
            filter: brightness(105%);
            transform: scale(1.05);
        }
    }
}