@keyframes loading {
    0% {
        visibility: visible;
        opacity: 0.95;
    }
    90% {
        opacity: 0.95;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes loading-text {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loading-bar {
    0% {
        opacity: 1;
        transform: translateX(-200%);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(200%);
    }
}

@keyframes loading-bar-reverse {
    0% {
        opacity: 1;
        transform: translateX(200%);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-200%);
    }
}




@keyframes heart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes heart-reverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}




@keyframes case {
    from {
        opacity: 0;
        top: 15px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}




@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes check-box {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes check-box-reverse {
    from { 
        opacity: 1;
        transform: scaleX(1);
    }
    to {
        opacity: 1;
        transform: scaleX(0);
    }
}




@keyframes price {
    from {
        margin: 0 8px;
    }
    to {
        margin: 0 50px 0 8px;
    }
}

@keyframes price-reverse {
    from {
        margin: 0 50px 0 8px;
    }
    to {
        margin: 0 8px;
    }
}