@mixin box-shadow {
    box-shadow: 0 3px 10px 0 #00000040;
}

@mixin hover {
    box-shadow: 0px 3px 10px 0px #00000080;
}




@mixin bar ($color: $color-primary) {
    padding: 10px 500px;
    background: $color;
}




@mixin big-laptop-only {
    @media screen and (min-width: map-get($breakpoints, large-laptop)) {
        @content;
    }
}

@mixin small-laptop-only {
    @media screen and (min-width: map-get($breakpoints, small-laptop)) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}